streamlit
google-ai-generativelanguage==0.6.15
google-api-core==2.29.0
google-api-python-client==2.189.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-genai==1.62.0
google-generativeai==0.8.6
python-dotenv
langchain
pdfplumber
faiss-cpu
langchain_google_genai
langchain==0.3.27
langchain-aws==0.2.32
langchain-community==0.3.29
langchain-core==0.3.76
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.11
langsmith==0.4.27
fastapi
python-docx